@font-face {
  font-family: "iconfont"; /* Project id 3912718 */
  src: url('iconfont.woff2?t=1685762078472') format('woff2'),
       url('iconfont.woff?t=1685762078472') format('woff'),
       url('iconfont.ttf?t=1685762078472') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-email1:before {
  content: "\e66f";
}

.icon-email:before {
  content: "\e6eb";
}

.icon-jiantou_xiangxia_o:before {
  content: "\eb90";
}

.icon-erji-gongdanbaobiao:before {
  content: "\ea9d";
}

.icon-dizhi:before {
  content: "\e612";
}

.icon-kefu:before {
  content: "\e609";
}

.icon-dianhuazixun:before {
  content: "\e60a";
}

.icon-phone:before {
  content: "\e6cb";
}

.icon-chenggong:before {
  content: "\e643";
}

.icon-bianjiwenzhang_huaban:before {
  content: "\e62e";
}

.icon-lianhuan:before {
  content: "\e654";
}

.icon-xinhao-signal-fill:before {
  content: "\e650";
}

.icon-a-xinhaowangluo-02:before {
  content: "\e7a6";
}

.icon-kefuyouxian:before {
  content: "\e601";
}

.icon-jindu:before {
  content: "\e6b7";
}

.icon-dingdandingdanchaxun:before {
  content: "\e78a";
}

.icon-jiantou_liebiaoxiangyou:before {
  content: "\eb03";
}

.icon-jiantou_liebiaoxiangzuo:before {
  content: "\eb04";
}

.icon-see:before {
  content: "\e615";
}

.icon-pengyouquan:before {
  content: "\e8b4";
}

.icon-renyuan-05:before {
  content: "\e630";
}

.icon-shouqijiantouxiao:before {
  content: "\e892";
}

.icon-fasong1:before {
  content: "\e6c8";
}

.icon-xiazai:before {
  content: "\e632";
}

.icon-tianmao:before {
  content: "\e757";
}

.icon-pay-jingdong:before {
  content: "\e8dd";
}

.icon-wurenji:before {
  content: "\e62a";
}

.icon-xiangyoujiantou:before {
  content: "\e65f";
}

.icon-xiangzuojiantou:before {
  content: "\e660";
}

.icon-fasong:before {
  content: "\e64e";
}

.icon-caidan:before {
  content: "\e790";
}

.icon-youjiantou1:before {
  content: "\e624";
}

.icon-jiantou_youshang:before {
  content: "\eb0b";
}

.icon-xiajiantoucu:before {
  content: "\e605";
}

.icon-youjiantoucu:before {
  content: "\e608";
}

.icon-duanshipin:before {
  content: "\e607";
}

.icon-sousuo:before {
  content: "\e618";
}

.icon-sanjiaoxing:before {
  content: "\e620";
}

.icon-guanbi:before {
  content: "\eaf2";
}

.icon-youjiantou:before {
  content: "\e62b";
}

.icon-weixin:before {
  content: "\e600";
}

.icon-weibo:before {
  content: "\e67a";
}

.icon-douyin:before {
  content: "\e8db";
}

